html, body, #root, #main {
  width: 99%;
  height: 99%;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, #contactBtn {
  background-color: #1D1A28;
  color: white;
  font-family: 'BMHANNAAir';
}

#main {
  display: flex;
}

#leftMain {
  width: 60%;
}

#rightMain {
  width: 40%;
}

#contactBtn {
  position: relative;
  top: 30px;
  left: 85%;
  font-family: 'BMHANNAAir';
  font-size: 18px;
  text-decoration: underline;
  border: none;
  outline: 0;
}

#mobile {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 25%;
  height: 80%;
  background: linear-gradient(180deg, #171521 0%, #171521 15.1%, rgba(41, 38, 47, 0) 48.96%, rgba(41, 38, 47, 0) 100%), #303345;
  border: 10px solid #2E3142;
  box-sizing: border-box;
  box-shadow: 3px 56px 10px -10px rgba(21, 22, 26, 0.7);
  border-radius: 35px;
}

#Bezel {
  position: absolute;
  width: 150px;
  height: 20px;
  left: 30%;
  background: #2E3142;
  border-radius: 0px 0px 23px 23px;
}

#teamName {
  position: relative;
  top: 92%;
  left: 25%;
  width: 50%;
}