html, body, #root, #main {
  width: 100%;
  height: 100%;
  /*옆에 스크롤이 생겨서 margin 0으로 설정함*/
  margin:0;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, #contactBtn {
  background-color: #1D1A28;
  color: white;
  font-family: 'BMHANNAAir';
}

#main {
  display: flex;
}

#leftMain {
  position: relative;
  width: 60%;
}

#rightMain {
  position: relative;
  width: 45%;
}

/*오른쪽 헤더*/
#rightHeader {
  position: relative;
  height: 10%;
}

#contactBtn{
  position: absolute;
  cursor : pointer;
  top : 50%;
  left: 75%;
}

#contactText {
  position: relative;
}

#contactLine {
  position: relative;
  width : 49px;
  border: 1px solid #FFFFFF;
}

/*오른쪽 모바일박스*/
#mobileBox{
  position: relative;
  height:80%;
}

/*모바일 레이아웃*/
#mobile {
  position: absolute;
  top: 50%;
  left:35%;
  transform: translate(-35%,-50%);
  width: 425px;
  height: 760px;
  background: linear-gradient(180deg, #171521 0%, #171521 15.1%, rgba(41, 38, 47, 0) 48.96%, rgba(41, 38, 47, 0) 100%), #303345;
  border: 9px solid #2E3142;
  box-sizing: border-box;
  box-shadow: 3px 56px 10px -10px rgba(21, 22, 26, 0.7);
  border-radius: 35px;
}

#mobileTop {
  position: absolute;
  left:50%;
  transform : translateX(-50%);
  width: 50%;
  height: 4%;
  background: #2E3142;
  border-radius: 0px 0px 15px 15px;
}

/*오른쪽 바텀*/
#rightBottom {
  position: relative;
  height: 10%;
}

#teamName {
  position: absolute;
  top :50%;
  left :35%;
  transform : translate(-15%,-50%);
  font-family: cursive; 
}


/* 왼쪽 탑 */
#leftTop{
  position: relative;
  height: 50%;
}

#title { 
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 75px;
  font-family: 'Rationale';
}

/* 달 */

#circle {
  position: absolute;
  top: 59%;
  left: 43%;
  width: 10em;
  height: 10em;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  animation-name: satellite, spin;
  animation-iteration-count:infinite;
  animation-duration: 3s, 12s;
  animation-direction: alternate, normal;
  animation-timing-function: ease,linear;
}

/*원 회전*/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

#moon {
  position: absolute;
  top:59%;
  left:43%;
  width: 10em;
  height: 10em;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 85%);
  animation-name: moon;
  animation-iteration-count:infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

/*달 애니메이션*/
@keyframes moon{
  0% {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 85%);
  }

  20% {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 87%);
  }

  40% {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 89%);
  }

  60% {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 91%);
  }

  80% {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 93%);
  }

  100%{
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 95%);
  }
}

#moonImg {
  width: 10em;
  height: 10em;
}

#satellite {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 81%;
  left: 84%;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%;
  animation-name: satellite;
  animation-iteration-count:infinite;
  animation-duration: 3s ;
  animation-direction: alternate;
}


/*위성 애니메이션*/
@keyframes satellite{
  0% {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.25);
  }

  20% {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);
  }

  40% {
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25);
  }

  60% {
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.25);
  }

  80% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  }

  100%{
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.25);
  }
}

/*왼쪽 바텀*/
#leftBottom{
  position: relative;
  height: 50%;
}

#description {
  position: absolute;
  top:10%;
  left:23%;
  width: 80%;
  font-size: 1.7em;
  line-height: 30px;
}

/*별*/
#bigStar{
  position: absolute;
  left:62%;
  top:30%;

}

#bigStarBack{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%;
  animation-name: star;
  animation-iteration-count:infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}



#smallStar{
  position: absolute;
  left:64.5%;
  top:25.5%;
}

#smallStarBack{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%;
  animation-name: star;
  animation-iteration-count:infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

/*별 애니메이션*/
@keyframes star{
  0% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  }

  20% {
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.25);
  }

  40% {
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.25);
  }

  60% {
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.25);
  }

  80% {
    box-shadow: 0px 0px 10px 9px rgba(255, 255, 255, 0.25);
  }

  100%{
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
  }
}

