html, body, #root, #main {
  width: 100%;
  height: 100%;
  /*옆에 스크롤이 생겨서 margin 0으로 설정함*/
  margin:0;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, #contactBtn {
  background-color: #1D1A28;
  color: white;
  font-family: 'BMHANNAAir';
}

#main {
  display: flex;
}

#leftMain {
  position: relative;
  width: 60%;
}

#rightMain {
  position: relative;
  width: 45%;
}

/*오른쪽 헤더*/
#rightHeader {
  position: relative;
  height: 15%;
}

#contactText {
  position: absolute;
  cursor : pointer;
  top: 50%;
  left : 75%;
  transform: translateY(-50%);
}

#contactLine {
  position: absolute;
  top: 57%;
  left : 75%;
  width : 49px;
  border: 1px solid #FFFFFF;
  transform: translateY(-57%);
}

/*오른쪽 모바일박스*/
#mobileBox{
  position: relative;
  height:70%;
}

/*모바일 레이아웃*/
#mobile {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 45%;
  height: 100%;
  background: linear-gradient(180deg, #171521 0%, #171521 15.1%, rgba(41, 38, 47, 0) 48.96%, rgba(41, 38, 47, 0) 100%), #303345;
  border: 9px solid #2E3142;
  box-sizing: border-box;
  box-shadow: 3px 56px 10px -10px rgba(21, 22, 26, 0.7);
  border-radius: 35px;
}

#mobileTop {
  position: absolute;
  left:50%;
  transform : translateX(-50%);
  width: 60%;
  height: 4%;
  background: #2E3142;
  border-radius: 0px 0px 15px 15px;
}

/*오른쪽 바텀*/
#rightBottom {
  position: relative;
  height: 15%;
}

#teamName {
  position: absolute;
  top :50%;
  left :50%;
  transform : translate(-50%,-50%);
  font-family: cursive; 
}


/* leftmain */
#title { 
  position: relative;
  top: 15%;
  left: 37%;
  font-size: 64px;
  line-height: 74px;
  font-family: 'Rationale';
}

#circle {
  position: relative;
  top: 24%;
  left: 40%;
  width: 135px;
  height: 135px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px 2px rgba(255, 255, 255, 0.25);
  border-radius: 70%
}

#moon {
  position: relative;
  width: 135px;
  height: 135px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
}

#moonImg {
  width: 135px;
  height: 135px;
  /* margin:auto; */
}

#satellite {
  position: relative;
  width: 9px;
  height: 9px;
  top: -20%;
  left: 84%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%
}

#description {
  position: relative;
  top: 34%;
  left: 20%;
  font-size: 20px;
  line-height: 25px;
}

/* #starL {
  position: relative;
  width: 18px;
  height: 19px;
  left: 540px;
  top: 241px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

#starS {

} */

/* #starL {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #FFFFFF;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
#starL:before {
  position: absolute;
  display: block;
  top: -100px;
  left: -65px;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  content: '';
  transform: rotate(-35deg);
}
#starL:after {
  position: absolute;
  display: block;
  top: 100px;
  left: -105px;
  height: 0px;
  width: 0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 7px solid #FFFFFF;
  content: '';
  transform: rotate(-70deg);
} */
