#roomBack {
  position: relative;
  color: white;
  font-size: 2em;
  top: 15px;
  left: 10px;
  background-color: rgba( 255, 255, 255, 0 );
  cursor : pointer;
  border: none;
  margin-left: 0.6em;
  border-radius: 70%;
  z-index: 1;
}

#roomTitle {
  position: relative;
  height: 4em;
  background: #171521;
  box-shadow: 0px 10px 4px rgba(18, 18, 18, 0.25);
}

#headTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}

#roomBottom {
  position: relative;
  top: 7em;
  width: 100%;
  height: 70%;
  padding: 0px;
  margin: 0px;
}

#inputTitle {
  position: absolute;
  top: -8%;
  left: 10%;
  font-size: 120%;
  width: 80%;
}

#titleBox {
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid white; 
  background: transparent;
  width: 80%;
  color: white;
  outline : 0;
}

#inputDesc {
  position: absolute;
  left: 10%;
  font-size: 120%;
  width: 80%;
}

#descBox {
  border: 1px solid white; 
  background: transparent;
  margin-top: 15px;
  width: 95%;
  height: 9em;
  font-size: 100%;
  color: white;
  outline : 0;
  resize: none;
}

#descCount {
  position: absolute;
  top: 33%;
  left: 76%;
  font-size: 90%;
}

#questionList {
  position: absolute;
  top: 40%;
  width: 80%;
  height: 25%;
  overflow: auto;
  list-style: none;
}

#questionList::-webkit-scrollbar {
  display: none;
}

#inputQuestion {
  position: absolute;
  border: none; 
  background: transparent;
  top: 70%;
  left: 10%;
  width: 75%;
  height: 5%;
  font-size: 100%;
  color: white;
  outline : 0;
}

#startEndSaveBtn {
  position: absolute;
  font-size: 1.3em;
  width: 65%;
  height: 10%;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-90%);
  background: #D1D1D3;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  cursor: pointer;
}

.question {
  /* position: relative; */
  display: flex;
  margin-top: 5px;
}

.ring {
  position: relative;
  /* top: 50%; */
  width: 1em;
  height: 1em;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 70%;
}

.text {
  position: relative;
  left: 5%;
  width: 75%;
  word-wrap: break-word;
}

.button {
  position: relative;
  top: -2px;
  right: -10%;
  width: 8%;
}

.dndBtn {
  width: 100%;
  height: 20px;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.dndStick {
  border: 1.5px solid #FFFFFF;
  margin: 2px;
}

.deleteBtn {
  width: 100%;
  height: 20px;
  background:rgb(160, 53, 53);
  font-family: 'BMHANNAAir';
  border: 1px solid black;
  padding: 0;
  outline: 0;
}