/*애니메이션박스*/
.shootingStarAnimationBox {
  position: relative;
  height:50%
}

.shootingStarAnimation {
  position: absolute;
  top:50%;
  left:50%;
  height: 40%;
  width: 40%;
  transform: translate(-50%,-50%);
}

#star { 
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: 1;
}

/* #bigStarBack {

} */

.allSatellite {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%;
  animation-name: satellite;
  animation-iteration-count:infinite;
  animation-duration: 1s ;
  animation-direction: alternate;
}

.s1 {
  width: 9px;
  height: 9px;
  top: 75%;
  left: 50%;
}

.s2 {
  width: 7px;
  height: 7px;
  top: 10%;
  left: 25%;
  animation-delay: 800ms;
}

.s3 {
  width: 5px;
  height: 5px;
  top: 40%;
  left: 35%;
  animation-delay: 500ms;
}

.s4 {
  width: 5px;
  height: 5px;
  top: 50%;
  left: 10%;
  animation-delay: 400ms;
}

.s5 {
  width: 5px;
  height: 5px;
  top: 85%;
  left: 80%;
  animation-delay: 200ms;
}

@keyframes allSatellite{
  0% {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.25);
  }

  20% {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);
  }

  40% {
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25);
  }

  60% {
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.25);
  }

  80% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  }

  100%{
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.25);
  }
}

.satelliteLine {
  position: absolute;
  border: none;
  border-top: 0.1px solid #DDDDDD;
  transform: rotate(131.88deg);
  animation-name: satelliteLine;
  animation-iteration-count:infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.starLightLine {
  width: 85%;
  height: 0px;
  top: 48%;
  left: 4%;
}

.satelliteLightLine {
  width: 50%;
  height: 0px;
  top: 57%;
  left: 46%;
}

/*버튼박스*/
#btnBox{
  position: relative;
  height: 50%;
}

#guestBtn{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  height:20%;
  width: 80%;
  background: #AFB8CE;
  border-radius: 34.5px;
  cursor : pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guestBtn:hover{
  opacity: 80%;
}

#guestText{
  position: absolute;
  color: #303345;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 1.3em;
}

#loginBtn{
  position: absolute;
  top: 25%;
  left:50%;
  transform: translateX(-50%);
  height:20%;
  width: 80%;
  background: #4B4F6C;
  border-radius: 34.5px;
  cursor : pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loginBtn:hover{
  opacity: 80%;
}

#loginText{
  position: absolute;
  color: #AFB8CE;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 1.3em;
}

#signupBtn{
  position: absolute;
  height:10%;
  top :50%;
  left :50%;
  transform: translateX(-50%);
  cursor : pointer;
}

#signupBtn:hover{
  opacity: 80%;
}

#signupText {
  position: relative;
  color: #AFB8CE;
  font-size: 1.2em;
}

#signupLine {
  position: relative;
  width : 50px;
  border: 1px solid #AFB8CE;
}