#title { 
  position: relative;
  top: 15%;
  left: 30%;
  font-size: 64px;
  line-height: 74px;
}

#circle {
  position: relative;
  top: 25%;
  left: 35%;
  width: 135px;
  height: 135px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px 2px rgba(255, 255, 255, 0.25);
  border-radius: 70%
}

#moon {
  position: relative;
  width: 135px;
  height: 135px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 90%);
}

#moonImg {
  width: 135px;
  height: 135px;
  /* margin:auto; */
}

#satellite {
  position: relative;
  width: 9px;
  height: 9px;
  top: -20%;
  left: 84%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.25);
  border-radius: 70%
}

/* #starL {
  position: relative;
  width: 18px;
  height: 19px;
  left: 540px;
  top: 241px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

#starS {

} */

#starL {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #FFFFFF;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
#starL:before {
  position: absolute;
  display: block;
  top: -100px;
  left: -65px;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  content: '';
  transform: rotate(-35deg);
}
#starL:after {
  position: absolute;
  display: block;
  top: 100px;
  left: -105px;
  height: 0px;
  width: 0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 7px solid #FFFFFF;
  content: '';
  transform: rotate(-70deg);
}






#description {
  position: relative;
  left: 15%;
  top: 35%;
  font-size: 18px;
  line-height: 20px;
}