/*로딩 애니메이션*/
.loadingAnimationBox {
  display : flex;
  position: absolute;
  top:40%;
  left:50%;
  transform: translateX(-50%);
}

.loadingStick {
  position: relative;
  width: 7px;
  height: 36px;
  background: #E7E7E7;
  margin:3px;
  box-shadow: 0px 4px 1px rgba(156, 156, 156, 0.25);
}

/*스타트 버튼*/
#startBtn {
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-60%);
  width: 40%;
  height: 7%;
  cursor : pointer;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.3em;
}

#startText {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}