/*로딩 애니메이션*/
.loadingAnimationBox {
  display : flex;
  position: absolute ;
  top:40%;
  left:50%;
  transform: translateX(-50%);
}

.loadingStick {
  position: relative;
  top:50%;
  transform: translateY(-50%);
  background: #E7E7E7;
  margin:3px;
  box-shadow: 0px 2px 1px rgba(156, 156, 156, 0.25);
}



#loadingStick1{
  width: 7px;
  height: 20px;
  animation-name: stick1;
  animation-iteration-count:infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay:-0.2s;
}

@keyframes stick1{
  to {
    height: 30px;
  }
}

#loadingStick2{
  width: 7px;
  height: 30px;
  animation-name: stick2;
  animation-iteration-count:infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay:-0.1s;
}

@keyframes stick2 {
  to {
    height: 45px;
  }
}
#loadingStick3{
  width: 7px;
  height: 40px;
  animation-name: stick3;
  animation-iteration-count:infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay:0s;
}

@keyframes stick3 {
  to {
    height: 60px;
  }
}

#loadingStick4{
  width: 7px;
  height: 30px;
  animation-name: stick4;
  animation-iteration-count:infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay:0.1s;
}

@keyframes stick4 {
  to {
    height: 45px;
  }
}

#loadingStick5{
  width: 7px;
  height: 20px;
  animation-name: stick5;
  animation-iteration-count:infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay:0.2s;
}

@keyframes stick5 {
  to {
    height: 30px;
  }
}


/*스타트 버튼*/
#startBtn {
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-60%);
  width: 40%;
  height: 7%;
  cursor : pointer;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.3em;
}

#startBtn:hover {
  opacity: 0.8;
}

#startText {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}