.passwordBack {
  position: relative;
  color: white;
  font-size: 2em;
  top: 15px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border: none;
  margin-left: 0.6em;
  border-radius: 70%;
  z-index: 1;
  outline:0;
}

.passwordBack:hover {
  opacity: 0.8;
}

/*애니메이션박스*/
.PWshootingStarAnimationBox {
  position: relative;
  height: 33%;
}

#PWText {
  position: relative;
  height: 8%;
  color: #afb8ce;
  font-size: 1.2em;
  text-align: center;
}

.PWInputBox {
  position: relative;
  height: 10%;
}

#EmailBOX::placeholder,
#SecretKeyBOX::placeholder {
  font-style: italic;
  font-size: 0.9em;
  opacity: 20%;
  color: white;
}
#EmailBOX,
#SecretKeyBOX {
  position: absolute;
  width: 90%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #afb8ce;
  background: transparent;
  color: white;
  outline: 0;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-left: 50px;
}

.mail {
  position: absolute;
  width: 35px;
  height: 25px;
  top: 18%;
  left: 5%;
}
.key {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 5%;
  left: 5%;
}

/*버튼박스*/
#btnBox {
  position: relative;
  height: 35%;
}

#PWBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  height: 30%;
  width: 80%;
  background: #afb8ce;
  border-radius: 34.5px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#PWBtn:hover {
  opacity: 0.8;
}

#PWBtnText {
  position: absolute;
  color: #303345;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}
