/*뒤로가기*/
.NPWBack {
  position: relative;
  color: white;
  font-size: 2em;
  top: 15px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  border: none;
  margin-left: 0.6em;
  border-radius: 70%;
  z-index: 1;
}

.NPWBack:hover {
  opacity: 80%;
}

/*애니메이션박스*/
.PWTshootingStarAnimationBox {
  position: relative;
  height: 38%;
}

/*인풋박스*/
.PWTrdInputBox {
  position: relative;
  height: 20%;
}

.NPWBOX {
  position: absolute;
  width: 90%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #afb8ce;
  background: transparent;
  color: white;
  outline: 0;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-left: 50px;
}

.CPWBOX {
  position: absolute;
  top: 60%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #afb8ce;
  background: transparent;
  color: white;
  outline: 0;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-left: 50px;
}

.NPWBOX::placeholder,
.CPWBOX::placeholder {
  font-style: italic;
  font-size: 0.9em;
  opacity: 20%;
  color: white;
}

#lock {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 13%;
  left: 4%;
}

.check {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 53%;
  left: 5%;
}

#btnBox {
  position: relative;
  height: 35%;
}

#PWTrdBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  height: 30%;
  width: 80%;
  background: #afb8ce;
  border-radius: 34.5px;
  cursor: pointer;
}

#PWTrdBtn:hover {
  opacity: 80%;
}

#PWTrdSave {
  position: absolute;
  color: #303345;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}
