#roomListBack {
  color: white;
  font-size: 2em;
  background-color: rgba( 255, 255, 255, 0 );
  cursor : pointer;
  border: none;
  margin-left: 0.6em;
  border-radius: 70%;
}

#roomListTitle {
  position: relative;
  width: 100%;
  height: 4em;
  /* top: 0px; */
  background: #171521;
  box-shadow: 0px 10px 4px rgba(18, 18, 18, 0.25);
}

#headTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}

#roomListBottom {
  position: absolute;
  top: 7em;
  width: 100%;
  height: 80%;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  list-style:none;
}

.roomList {
  position: relative;
  color: black;
  width: 80%;
  height: 7.5em;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.25);
}

#createRoomBtn {
  font-size: 4em;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  /* height: 120px; */
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
  background: #4A4F6C;
  box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.25);
}

.roomTitle {
  height: 2em;
  margin: 0px;
  padding: 0.7em;
  font-size: 1.5em;
}

.roomDesc {
  position: relative;
  margin: 0px;
  width: 100%;
  font-size: 1em;
}

.checkBox {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: -3px;
  left: 1em;

  border: 1px solid #000000;
  box-sizing: border-box;
}

.roomCount {
  position: absolute;
  left: 18%;
}

.edit {
  position: absolute;
  top: -3px;
  width: 1.8em;
  right: 3.5em;
  cursor : pointer;
}

.delete {
  position: absolute;
  top: -5px;
  width: 1.8em;
  right: 1.5em;
  cursor : pointer;
}